*{
    margin: 0;
    padding: 0;
    font-family: 'Saira Condensed', sans-serif;
}

body{
    background-color: #FFFAF0;
}

header{
    height: 700px;
    background-image: url(../images/1000_F_159474306_A2C5yfw8uzIxrT37RdPG2iCJQuQhUgPU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    display: flex;
    align-items: center;
    float: right;
    margin: 50px 50px 20px 0px;
}

.contact span {
    margin-right: 15px;
    font-size: 24px;
}

.contact img{
    width: 50px;
}

.contactLink{
    clear: both;
    float: right;
    margin: 0px 50px 0px 0px;
    border-bottom: 1px solid #E53C4E;
    font-size: 18px;
}

.description{
    clear: both;
    float: right;
    margin-top: 130px;
    margin-right: 50px;
}

.description h1{
    text-align: center;
    color: #5A2C22;
    font-size: 48px;
    font-weight: normal;
}

.description h1 span{
    font-weight: bold;
    color: #E53C4E;
}

.description h2 {
    text-align: center;
    color: #270D0B;
    font-weight: normal;
    font-size: 30px;
}

.description p {
    margin-top: 30px;
    width: 550px;
    text-align: center;
    color: #5A2C22;
    font-size: 18px;
}

.contents{
    margin-top: 100px;
}

.contents h2 span {
    color: #E53C4E;
}

.contents h2 {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    color: #270D0B;
    margin-bottom: 15px;
}

.subtitle {
    margin: 0 auto;
    text-align: center;
    width: 945px;
    font-size: 24px;
    font-weight: normal;
    color: #270D0B;
}

.products {
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 60px;
}

.cards{
    background-color: #F0E5C0;
    width: 216px;
    height: 360px;
}

.cards img{
    width: 216px;
    height: 190px;
}

.cards h3{
    text-align: center;
    color: #270D0B;
    font-weight: normal;
    font-size: 24px;
    margin-top: 10px;
}

.cards p{
    color: #84563C;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}

.price{
    margin-bottom: 5px;
}

.price span{
    color: #F1898C;
    font-weight: bold;
    font-size: 20px;
}

.price p {
    color: #270D0B;
    font-weight: normal;
    font-size: 18px;
}

.milks{
    margin-top: 100px;
}

footer{
    background-color: #F0E5C0;
    margin-top: 100px;
    padding-bottom: 50px;
}

footer h1{
    text-align: center;
    color: #5A2C22;
    font-size: 48px;
    font-weight: normal;
}

footer h1 span{
    font-weight: bold;
    color: #E53C4E;
}